name: Deploy Workato Agent (Dev)

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      REGION: us-central1
      IMAGE_VERSION: ${{ github.sha }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Terraform Init
        working-directory: ./terraform/environments/dev
        run: terraform init -backend-config="bucket=${{ secrets.GCS_BACKEND_BUCKET }}"

      - name: Terraform Plan
        working-directory: ./terraform/environments/dev
        run: terraform plan -var "image_url=daa34553.workato.com/semi-public/amd64/workato-agent:${{ env.IMAGE_VERSION }}" -out=tfplan

      - name: Terraform Apply
        working-directory: ./terraform/environments/dev
        run: terraform apply -auto-approve tfplan
