name: Deploy Workato Agent (Staging)

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - run: |
          cd terraform/environments/staging
          terraform init
          terraform apply -auto-approve -var "image_url=daa34553.workato.com/semi-public/amd64/workato-agent:${{ github.sha }}"
